APP_NAME=NetPilot
APP_ENV=local
APP_PORT=8080

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=netpilot_db

JWT_SECRET=Secret_Token_NetPilot_31011998
MQTT_BROKER=tcp://localhost:1883

CPU_THRESHOLD_PERCENT=60